<!DOCTYPE html>
<html lang="vi">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        a {
            margin-right: 25px;
            text-decoration: none;

        }
        a:hover {
            color: red;
            text-decoration: underline;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }

        button {
            padding: 5px 10px;
            margin: 2px;
        }
    </style>
</head>
<body>
    <header>
        <div>
            <a href="/dangNhap">Đăng nhập</a>
            <a href="/themComTam">Thêm cơm tấm</a>
            <a href="/datComTam">Đặt cơm tấm</a>
            <a href="/chiTietDonHang">Chi tiết đơn hàng</a>
             <br> <br>
        </div>
    </header>
    <table>
        <thead>
            <tr>
                <th>Tên món</th>
                <th>Giá món</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
        <% comtams.forEach(function (comtam){%>
            <tr>
                <td><%= comtam.tenMon%></td>
                <td><%= comtam.giaTien%></td>
                <td>
                    <a href="/sua/<%= comtam._id%>"><button>Sửa</button></a>
                    <a href="/xoa/<%= comtam._id%>"><button>Xóa</button></a>
                </td>
            </tr>
        <% })%>
        </tbody>
    </table>
</body>
</html>
